/* Desktop Styles */

/* Jumbotron Content */
.indexsheet-main-jumbotron {
    height: 600px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)
      ), url("../static/img/jumbotron-main.png");
    background-size: cover;
    margin-bottom: auto;
}

.indexsheet-main-jumbotron-text {
    display: block;
    margin: 100px auto;
    animation: fadein 2s;
}

.indexsheet-jumbotron-h1 {
    color: white;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.indexsheet-jumbotron-h2 {
    color: white;
    font-family: 'Work Sans',  Arial, Helvetica, sans-serif;
    font-size: 36px;
}

.indexsheet-jumbotron-p {
    color: white;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.indexsheet-jumbotron-hr {
    background: #03a9f4;
    width: auto;
    height: 2px;
    border: 1px solid #212121;
    border-radius: 15px;
}

.indexsheet-jumbotron-social-media-div {
    display: inline-block;
    margin-top: 25px;
    animation: fadein 2s;
}

.indexsheet-jumbotron-social-media-div i {
    margin-left: 20px;
}

.indexsheet-fa-icon-light {
    color: #fff;
    font-size: 38px;
}

/* Main Content */
.indexsheet-main-content-light {
    background: #0097dc;
    height: auto;
}

.indexsheet-main-content-dark {
    background: #0186c4;
    height: auto;
}

.indexsheet-main-content-inside-content {
    display: inline-block;
    margin: 100px auto;
    animation: fadein 3s;
}

.indexsheet-main-content-inside-content-image {
    display: inline-block;
    text-align: right;
    margin: 100px auto;
    animation: fadein 2s;
}

.indexsheet-main-content-image-transparent {
    background: transparent;
    border: none;
}

.indexsheet-main-content-h1 {
    color: white;
    font-family: 'Work Sans',  Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 30px;
}

.indexsheet-main-content-p {
    color: white;
    font-family: 'Work Sans',  Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.indexsheet-main-content-button {
    margin-top: 30px;
}

/* Footer Content */
.indexsheet-footer {
    height: auto;
    background: #212121;
}

.indexsheet-footer-content {
    display: block;
    margin: 20px;
    text-align: center;
    animation: fadein 2s;
}

.indexsheet-footer-h1 {
    color: white;
    font-family: 'Work Sans',  Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.indexsheet-footer-p {
    color: white;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.indexsheet-footer-hr {
    background: #03a9f4;
    width: 50%;
    height: 2px;
    border: 1px solid #212121;
    border-radius: 15px;
}

.indexsheet-footer-h2 {
    color: white;
    font-family: 'Work Sans',  Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.indexsheet-footer-social-media-p {
    color: white;
    font-family: 'Work Sans',  Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 15px;
}

.indexsheet-footer-a, a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
}

/* ======================================================================== */

/* Mobile Styles */
@media (max-width: 767px) {
    /* Jumbotron Content */
    .indexsheet-main-jumbotron {
        height: 450px;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.7), 
            rgba(0, 0, 0, 0.7)
          ), url("../static/img/jumbotron-main-mobile.png");
    }

    .indexsheet-main-jumbotron-text {
        margin-top: 50px;
    }

    .indexsheet-jumbotron-h1 {
        font-size: 24px;
    }

    .indexsheet-jumbotron-h2 {
        font-size: 18px;
    }

    .indexsheet-jumbotron-p {
        font-size: 12px;
    }
    
    /* Main Content */
    .indexsheet-main-content-inside-content-image {
        text-align: center;
        margin-top: -20px;
    }

    .indexsheet-main-content-button {
        text-align: center;
    }
}

/* Animations */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}